@import "../../../scss/core";

.tab__controls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include media('>=tablet') {
    flex-direction: row;
  }

}

.tab__control-btn {
  @extend %btn;
  @extend %unselectable;
  width: 100%;

  @include media('>=tablet') {
    width: auto;
  }
}

.tab__control {
  list-style: none;

  &.active button {
    background-color: $green;
    border-color: $green;
    color: white;

    cursor: default;

    &:focus {
      outline: $green;
      border-color: $green;
    }
  }
}
