@import "../../scss/core";

//.popup/
.popup {
  @include position(0, 0, 0, 0);
  position: fixed;
  z-index: 2;
  background-color: rgba(black, .5);

  overflow-x: hidden;
  overflow-y: auto;
}

.popup__title {
  margin-top: 0;
}

.popup__wrap {
  display: table;
  width: 100%;
  height: 100%;
}

.popup__container {
  @include grid-padding();
  display: table-cell;
  vertical-align: middle;
}

.popup__content {
  position: relative;

  padding: $gw;
  margin-top: $gw;
  margin-bottom: $gw;

  background-color: white;
  border-radius: $br;

  -webkit-appearance: none;
  &:focus {
    outline: none;
    border: none;
  }
}

.popup__close {
  @include position($click-area, $click-area, auto, auto);
  position: absolute;
  z-index: 1;

  width: 20px;
  height: 20px;

  padding: $click-area;

  transition: fill $transition-std;

  cursor: pointer;

  &:hover {
    fill: #d32f2f;
  }
}