$media-expressions: (
  /**
   * Basic resolutions
   */
        't-ipad-max':'(max-width:1000px)',
        'desctop-grid':'(min-width:1001px)',
        'desctop-grid-down':'(max-width:1001px)',
  // Extended media
        'm': 'all and (min-width: 1px)',
        't': 'all and (min-width: 600px)',
        'd': 'all and (min-width: 1280px)',
  // Limited media
        'm-only': '(min-width: 1px) and (max-width: 599px)',
        't-only': '(min-width: 600px) and (max-width: 1279px)',
        'd-only': '(min-width: 1280px)',
  // Landscape orientation
        'm-landscape': '(max-width: 767px) and (orientation: landscape)',
        't-landscape': '(min-width: 600px) and (max-width: 1280px) and (orientation: landscape)',
  /**
   * Extended resolutions
   */
  // m extended
        'm-iphone4': '(min-width: 320px)',
        'm-galaxy': '(min-width: 360px)',
        'm-iphone5': '(min-width: 375px)',
        'm-iphone6': '(min-width: 412px)',
  // t extended
        'under-t-ipad': '(max-width: 767px)',
        't-ipad': '(min-width: 768px)',
        't-ipad-landscape': '(min-width: 1024px)',
  // d extended
        'd-wxga': '(min-width: 1366px)',
        'd-wxgap': '(min-width: 1440px)',
        'd-phd': '(min-width: 1600px)',
        'd-fhd': '(min-width: 1920px)',
        'd-3k': '(min-width: 2560px)',
        'd-4k': '(min-width: 3840px)',
);



$xs: '>=0';
$ts: '>=600px';
$t: '>=768px';
$md: '>=992px';
$d: '>=1280px';
$ld: '>=1440px';
$hd: '>=1920px';

//GRID

$gridNames: ('xs' : $xs, 'md' : $md, 't' : $t, 'd' : $d, 'ld' : $ld);



//--------------------------------------------------------------------------
// Colors
//--------------------------------------------------------------------------

//Grid
$gw: 24px;
$gutter-width: $gw;
$grid-width-base:774px;
$grid-width: $grid-width-base + $gutter-width*2;
$click-area : 8px;
$grid-columns: 12;


//transitions
$transition-std: ease-out 0.3s;
$transition-long: ease-out 0.8s;
$transition: ease-out;

//colors
$default : #fff;
$secondary : #435993;
$secondary-lighten : lighten($secondary, 7);
$text-primary : #1c1c1c;
$complementary : #d9d9d9;
$complementary-light : #f8f9f9;
$complementary-dark : #c8c8c8;

$red : #d32f2f;

//fonts
$font-base : 'Roboto', sans-serif;
$font-base-thin : 100;
$font-base-light : 300;
$font-base-regular : 400;
//thin 100
//light 300
//regular 400
//medium 500
//bold 700
//black 900

// Other
$br : 4px;

$gray: #e8e8e8;
$border-gray: 1px solid $gray;


