@import "../../scss/core";

.task__wrap{
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding: $gw 0;
}

//.task/
.task {
  //.task + .task
  & + .task {
    //margin-top: $gw/2;
  }

  .el-checkbox__inner {
    margin-top: 6px;
  }
}

.task__text {
  flex: auto;
  flex-shrink: 10;
  resize: none;

  border: none;
  outline: none;

}

.complete .task__text {
  text-decoration: line-through;
}

.task__complete {
  margin-right: $gw/2;
}

.task__delete {
  margin-left: auto;
}

//.task__image/
.task__image {
  @extend %btn-reset;
  @extend %bg-base;
  position: relative;

  display: flex;
  flex-direction: column;

  width: 82px;
  height: 82px;

  margin-right: $gw;

  background-color: $complementary;

  border-color: 1px solid $complementary-dark;
  border-radius: $br;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.task__image-input {
  @include position(0, 0, 0, 0);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;

  opacity: 0;

  cursor: pointer;
}

.task__image-message {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;

  &.mod--error {
    color: $red;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}