@import "../../scss/core";

%flex-centrated-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

//.header/
.header {
  @include position(0, 0, auto, 0);
  position: fixed;
  z-index: 2;

  width: 100%;

  background-color: $complementary-light;
  border-bottom: 1px solid $secondary;

  color: $text-primary
}

.header__wrap {
  @include grid-width();
  @include grid-padding();
  @extend %flex-centrated-row;

}

//.header__logo/
.header__logo {
  @extend %flex-centrated-row;

  @at-root
  .header__logo-image {
    width: 48px;
    height: 48px;

    @include media('>=tablet') {
      width: 48px;
      height: 48px;
      padding: 12px 12px 12px 0;
    }

  }

  @at-root
  .header__logo-description {
    font-weight: 600;
  }
}
