@import "scss/core",
"~normalize.scss/normalize.scss";

html, body {
  height: 100%;

  color: $text-primary;

  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
}

* {
  box-sizing: border-box;
}

html {
  @extend %scrollbar;
  font-size: 100%;
  overflow-y: scroll;
}

#app {
  @extend %scrollbar;
  padding-top: 100px;

}

ul {
  padding-left: 0;
}

.container {
  @include grid-width();
  @include grid-padding();
}

.section__title {
  text-align: center;
}

.section__controlls {
  text-align: center;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}

.form__controll {
  padding: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 3px 3px 15px;
  background: #fff;
}

button {
  cursor: pointer;
}


