@import "scss/core",
"~normalize.scss/normalize.scss";

html, body {
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

html {
  @extend %scrollbar;
  font-size: 100%;
  overflow-y: scroll;
}

#app {
  padding-top: 100px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  font-kerning: normal;

}

ul {
  padding-left: 0;
}

.container {
  @include grid-width();
  @include grid-padding();
}

.section__title {
  text-align: center;
}

.section__controlls {
  text-align: center;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}

button {
  cursor: pointer;
}


