
%unselectable {
  & *::selection {
    background-color: transparent;
  }
  &::selection {
    background-color: transparent;
  }

}

%hover-bg {
  &:hover {
    background-color: $complementary-light;
  }
}

%secondary-bg {
  background-color: $secondary;
  color: $default;
}

%absolute-extend {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%scrollbar {

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba($secondary, .3);
    border-radius: $br;
    background-color: $complementary-light;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: $complementary-light;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }

}

%btn-reset {
  background-color: transparent;
  outline: none;
  -webkit-appearance: none;
}

%bg-base {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%btn {
  @extend %btn-reset;
  padding: $gw/2;
  border-radius: $br;
  box-shadow: none;
  border: 1px solid $gray;

  background-color: transparent;
  outline: none;
  -webkit-appearance: none;

}
